*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280;
    margin: 0 auto;
}

header{
    padding: 8px 0;
}

.logo{
    float: left;
}

nav.menu-desktop {
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px; 
}

nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
}

nav.menu-desktop a{
    text-decoration: none;
    color:black
}

nav.menu-desktop li.selected{
    font-weight: bold;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

.logo img{
    height: 46px;
}

/*
banner
*/



nav.menu-mobile h2{
    cursor: pointer;
}

nav.menu-mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 999;
    text-align: center;
}

nav.menu-mobile li{
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.menu-mobile li.selected{
    background-color: rgb(225, 225, 225);
}

nav.menu-mobile a{
    text-decoration: none;
    display: block;
    color: black;
}