<!DOCTYPE html>
<html>
    <head>
        <title>Vida Sustentável</title>
        <meta name="keywords" content="web, curso web, css, html, comida, comida rápida">
        <meta name="description" content="aprenda a fazer uma comida deliciosa em 5 minutos ">
        <meta name="author" content="Yasmin Aquino">
        <meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0">
        <meta charset="utf-8">
        <!-- imagens -->
        <link href="images/logoB-.png" rel="icon">
        <link href="images/logoB-.png" rel="apple-touch-icon">

        <link rel="stylesheet" type="text/css" href="/stylesheets/contato2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <!-- menu --> 
            <div class="container">
                <div class="logo">
                    <!--<h2>Vida Sustentável</h2>-->
                    <img src="images/logoB.png">
                </div>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/doacoes">Doações</a></li>
                        <li><a href="/sobre">Sobre nós</a></li>
                        <li><a href="/contato">Contato</a></li> 
                        
                    </ul>
                </nav>
            </div>
            
                <!-- Menu Mobile -->
        </header>
        <style>
            .formulario {
              max-width: 600px;
              margin: 0 auto;
              padding: 20px;
              border: 2px solid #6ba775;
              border-radius: 10px;
              margin-top: 5%;
            }
        
            .logoformulario {
              display: block;
              width: 160px;
              height: 150px;
              margin-bottom: 20px;
            }
        
            .form-group {
              margin-bottom: 20px;
            }
        
            .form-group label {
              display: block;
              margin-bottom: 5px;
            }
        
            .form-group input, .form-group textarea {
              width: 100%;
              padding: 5px;
              border: 1px solid #ccc;
              border-radius: 3px;
              height: 50px;
            }
        
            .form-group textarea {
              height: 100px;
            }
        
            .form-group button {
              background-color: #57c26b;
              color: white;
              padding: 10px 200px;
              border: none;
              border-radius: 3px;
            }

            
          </style>
        </head>
        <body>
          <div class="sucess">
            <% if(sucess){ %>
              <h4>Cadastro realizado com sucesso!</h4>
           <% } %>
            </div>
          <div class="formulario">
            <img class="logoformulario" src="images/logoB-.png" alt="Logo">
        
            <form action="/formularioong" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
              </div>

              <div class="form-group">
                <label for="documento">CPF ou CNPJ:</label>
                <input type="text" id="documento" name="documento" required>
              </div>

              <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" required>
              </div>

              <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" required>
              </div>

              <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" required>
              </div>

              <div class="form-group">
                <label for="cidade">Cidade, estado e UF:</label>
                <input type="text" id="cidade" name="cidade" required>
              </div>
        
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
        
              <div class="form-group">
                <label for="mensagem">Descrição:</label>
                <textarea id="mensagem" name="mensagem" required></textarea>
              </div>
        
              <div class="form-group">
                <label for="imagem">Logo:</label>
                <input type="file" id="imagem" name="capa" accept="image/*">
              </div>
        
              <div class="form-group">
                <button type="submit">Enviar</button>
              </div>
            </form>
          </div>


    <footer class="footer1">
        <div class="logotipo">
            <img src="images/logo.png">
        </div>
        <div class="container">
            <div class="w33">
                <h2>Localização</h2>
                <p>
                    <img src="images/outline_room_white.png">
                    Rua Testes, 100
                </p>
                <p>
                    <img src="images/outline_room_white.png">
                    (12)3885-5555
                </p>
            </div>
            <div class="w33">
                <h2>Links Uteis</h2>
                <a href="ifspcaraguatatuba.edu.br">
                    IFSP - Caraguatatuba 
                </a>
                <a href="www.google.com.br">
                    Google
                </a>
            </div>
            <div class="w32">
                <h2>Conecte-se conosco</h2>
                <div class="group-icons">
                    <a href="#">
                         <img src="images/outline_view_white.png">
                         facebook
                    </a>
                    <a href="#">
                        <img src="images/outline_school_white.png">
                         school
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <footer class="footer2">
        <div class="container">
            <p>
                &copy;
                Todos os direitos reservados</p>
        </div>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script>
        $('nav.menu-mobile h2').click(function(){
            $('nav.manu-mobile ul').slideToggle();
        })
    </script>
</body>
</html>