<!DOCTYPE html>
<html>
    <head>
        <title>Vida Sustentável</title>
        <meta name="keywords" content="vida sustentável, meio ambiente, água, ervas medicinais">
        <meta name="description" content="Aprenda sobre a conscientização em relação ao consumo de energia, água, alimentos e outros recursos naturais.">
        <meta name="author" content="Yasmin Aquino">
        <meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0">
        <meta charset="utf-8">
        <!-- imagens -->
        <link href="images/logoB-.png" rel="icon">
        <link href="images/logoB-.png" rel="apple-touch-icon">

        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <!-- menu --> 
            <div class="container">
                <div class="logo">
                    <!--<h2>Vda Sustentável</h2>-->
                    <img src="images/logoB-.png">
                </div>
                <nav class="menu-desktop">
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/doacoes">Doações</a></li>
                        <li><a href="/sobre">Sobre nós</a></li>
                        <li><a href="/contato">Contato</a></li>
                        <a href="/usuario">
                            <li><span class="material-symbols-outlined">
                                account_circle
                                </span>
                            </li>
                        </a>
                        </li>
                    </ul>
                </nav>
                <!-- Menu Mobile -->
                <nav class="menu-mobile">
                    <h2><img src="images/banner01.jpg"></h2>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/sobre">Sobre nós</a></li>
                        <li><a href="/contato">Contato</a></li>
                        <a href="/usuario">
                            <li><span class="material-symbols-outlined">
                                account_circle
                                </span>
                            </li>
                        </a>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="menu-blog">
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              </div>
              </div>
        </header>
        <section class="main-bg">
            <div class="overlay"></div>
            <div class="container">
            <h2>Vida Sustentável</h2>
            <p>
                Ter uma vida sustentável significa adotar um estilo de vida que busca equilibrar as necessidades humanas com a preservação dos recursos naturais e a proteção do meio ambiente.
            </p>
            <p>
                Uma vida sustentável busca minimizar o impacto negativo no planeta, promovendo assim a harmonia entre o ser humano e a natureza, visando um futuro mais saudável e equilibrado para as próximas gerações.            </p>
            <a href="/blog" class="button button1">SAIBA MAIS</a>
            </div>
        </section>
        <section class="diferenciais">
            <div class="container">
                <div class="line-text">
                    <div></div>
                    <h2>ONGs</h2>
                </div>
                <div class="icones-diferenciais">
                    <div class="box-ícone-single1">
                        <h2>
                            <img src="images/ong11.jpg">
                        </h2>
                        <p>
                            É uma iniciativa cidadã, autônoma e apartidária de recuperação de praças e canteiros abandonados da cidade de Salvador.</p>
                    </div>
                    <div class="box-ícone-single2">
                        <h2>
                            <img src="images/ong2.png">
                        </h2>
                        <p>
                            Integra o desenvolvimento econômico com a preservação do patrimônio natural, social e cultural da região costeira.</p>
                    </div>
                    <div class="box-ícone-single3">
                        <h2>
                            <img src="images/ong33.png">
                        </h2>
                        <p>
                            Desenvolve projetos de educação ambiental continuada em escolas públicas e privadas da educação infantil ao ensino médio.</p>
                    </div>
                    <div class="botaoong">
                        <a href="/doacoes" class="button button3">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="sobre-equipe">
            <div class="container">
                <div class="equipe-container">
                    <div class="line-text">
                        <div style="width:90px;"></div>
                        <h2>Equipe</h2>
                    </div>
                    <!-- Inicio Box Avatar -->
                    <div class="avatar-box">
                        <div class="img-avatar" style="background-image: url('images/personaArthur.png');"></div>
                        <div class="descricao-avatar">
                            <h3>Arthur</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        </div>
                    </div>
                    <!-- Inicio Box Avatar -->
                    <div class="avatar-box">
                        <div class="img-avatar" style="background-image: url('images/personaYasmin.png');"></div>
                        <div class="descricao-avatar">
                            <h3>Yasmin</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        </div>
                    </div>
                    <div class="avatar-box">
                        <div class="img-avatar" style="background-image: url('images/personaAna.png');"></div>
                        <div class="descricao-avatar">
                            <h3>Ana Julia</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                        </div>
                    </div>
                </div> <!-- Equipe -->
                <div class="sobre-container">
                    <div class="line-text">
                        <div style="width:70px;"></div>
                        <h2>Sobre</h2>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <a href="/sobre" class="button button2">SAIBA MAIS</a>
                    </div>
                </div> <!-- sobre -->
            </div> <!-- container -->
        </section> <!-- sobre equipe -->

        <section class="cards">
            <div class="container">
                <div class="card-single">
                    <img src="images/Warburgia_salutaris,_blomme,_Manie_van_der_Schijff_BT,_a01.jpg">
                    <h3>Warburgia Salutaris</h3>
                    <p>É uma planta utilizada na medicina tradicional africana para tratar uma variedade de doenças. É uma espécie vulnerável devido à coleta excessiva e à destruição do habitat natural.</p>
                </div>
                <div class="card-single">
                    <img src="images/brugmansia-sanguinea01.jpg">
                    <h3>Brugmansia Sanguinea</h3>
                    <p>A Brugmansia sanguinea é uma planta medicinal usada para distúrbios circulatórios e corre risco de extinção pela destruição do habitat natural e pela coleta excessiva.</p>
                </div>
                <div class="card-single">
                    <img src="images/UNHA-DE-GATO01.jpg">
                    <h3>Uncaria tomentosa</h3>
                    <p>é uma planta usada para tratar uma variedade de doenças, incluindo inflamação e infecções. Está em risco devido à coleta excessiva e à destruição do habitat natural.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="botaoplanta">
            <a href="/blog" class="button button2">SAIBA MAIS</a>
            </div>
        </section>

        <footer class="footer1">
            <div class="logotipo">
                <img src="images/logo.png">
            </div>
            <div class="container">
                <div class="w33">
                    <h2>Localização</h2>
                    <p>
                        <img src="images/outline_room_white.png">
                        Rua Testes, 100
                    </p>
                    <p>
                        <img src="images/outline_room_white.png">
                        (12)3885-5555
                    </p>
                </div>
                <div class="w33">
                    <h2>Links Uteis</h2>
                    <a href="ifspcaraguatatuba.edu.br">
                        IFSP - Caraguatatuba 
                    </a>
                    <a href="www.google.com.br">
                        Google
                    </a>
                </div>
                <div class="w32">
                    <h2>Conecte-se conosco</h2>
                    <div class="group-icons">
                        <a href="#">
                             <img src="images/outline_view_white.png">
                             facebook
                        </a>
                        <a href="#">
                            <img src="images/outline_school_white.png">
                             school
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </footer>
        <footer class="footer2">
            <div class="container">
                <p>
                    &copy;
                    Todos os direitos reservados</p>
            </div>
        </footer>
        <script src="js/jquery-3.6.3.min.js"></script>
        <script>
            $('nav.menu-mobile h2').click(function(){
                $('nav.manu-mobile ul').slideToggle();
            })
        </script>
    </body>
</html>
