<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vida Sustentável</title>
    <meta name="keywords" content="vida sustentável, meio ambiente, água, ervas medicinais">
    <meta name="description"
        content="Aprenda sobre a conscientização em relação ao consumo de energia, água, alimentos e outros recursos naturais.">
    <meta name="author" content="Yasmin Aquino">
    <meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0">
    <meta charset="utf-8">
    <!-- comentário -->
    <link href="images/logoB-.png" rel="icon">
    <link href="images/logoB-.png" rel="apple-touch-icon">

    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/stylesheets/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/variables.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/main.css" rel="stylesheet">
</head>

<body>

    <header>
        <!-- menu -->
        <div class="container">
            <div class="logo">
                <!--<h2>Best Planes</h2>-->
                <img src="images/logoB.png">
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="doacoes.html">Doações</a></li>
                    <li><a href="sobre.html">Sobre nós</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <a href="usuario.html">
                        <li><span class="material-symbols-outlined">
                                account_circle
                            </span>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>

        <div class="menu-blog">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        </div>
        </div>
        <a href="/" class="logo d-flex align-items-center">
        </a>



        <a href="#" class="mx-2 js-search-open"></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->

        <button class="btn js-search-close"></button>
        </form>
        </div><!-- End Search Form -->

        </div>

    </header><!-- End Header -->

    <main id="main">

        <section class="single-post-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 post-content" data-aos="fade-up">

                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta"> <span class="mx-1">&bullet;</span> <span>Jul 5th
                                    '22</span></div>
                            <h1 class="mb-5">Combatendo a poluição dos rios</h1>
                            <p><span class="firstcharacter">A</span>água é um recurso precioso e vital para a vida em
                                nosso planeta. No entanto, a poluição dos rios representa uma ameaça significativa para
                                a qualidade da água e para os ecossistemas aquáticos. Felizmente, existem diversas ações
                                e inovações baseadas na sustentabilidade que podem ser implementadas para combater esse
                                problema e preservar os recursos hídricos, garantindo a vida aquática.</p>
                            <p>Uma das principais estratégias para combater a poluição dos rios é a conscientização e
                                educação ambiental. É fundamental que as pessoas compreendam a importância dos rios e
                                dos ecossistemas aquáticos, assim como os impactos negativos da poluição. Campanhas
                                educativas, palestras e programas de sensibilização podem ser promovidos em escolas,
                                comunidades e meios de comunicação, visando informar e engajar a população em práticas
                                sustentáveis de conservação dos recursos hídricos..</p>
                            <p>Além da conscientização, é necessário adotar medidas concretas para reduzir a poluição
                                dos rios. A gestão adequada dos resíduos sólidos é essencial para evitar que substâncias
                                tóxicas e poluentes atinjam os corpos d'água. A implementação de sistemas eficientes de
                                coleta, reciclagem e tratamento de resíduos é fundamental para prevenir a contaminação
                                dos rios. Também é importante fomentar a utilização de materiais biodegradáveis e
                                incentivar a redução do consumo de plástico, uma vez que o plástico é um dos principais
                                poluentes dos cursos d'água.</p>
                            <p>Outra medida importante é o tratamento adequado dos efluentes domésticos e industriais.
                                Estações de tratamento de esgoto devem ser instaladas e operadas de forma eficiente, a
                                fim de remover substâncias nocivas antes de liberar a água de volta aos rios. Indústrias
                                também devem adotar tecnologias limpas e processos de produção mais sustentáveis,
                                evitando a liberação de poluentes em suas atividades.</p>
                            <p>A agricultura também desempenha um papel significativo na poluição dos rios,
                                principalmente devido ao uso excessivo de fertilizantes químicos e pesticidas. A
                                promoção de práticas agrícolas sustentáveis, como o uso de adubos orgânicos, a rotação
                                de culturas e a agricultura de conservação, contribui para reduzir a contaminação dos
                                rios por substâncias químicas prejudiciais. Além disso, a criação de áreas de
                                preservação ambiental ao longo das margens dos rios, conhecidas como faixas ciliares,
                                ajuda a filtrar os poluentes provenientes da agricultura antes que eles atinjam a água.
                            </p>
                            <p>A inovação também desempenha um papel importante no combate à poluição dos rios.
                                Tecnologias avançadas de tratamento de água e de monitoramento da qualidade dos rios têm
                                se mostrado eficazes na detecção precoce de poluentes e no desenvolvimento de soluções
                                mais eficientes. Além disso, o desenvolvimento de alternativas mais sustentáveis para
                                produtos químicos e materiais industriais pode contribuir para reduzir os impactos
                                negativos sobre os recursos hídricos.</p>
                            <p>Em resumo, combater a poluição dos rios é essencial para garantir a preservação dos
                                recursos hídricos e a vida aquática. Ações como conscientização e educação ambiental,
                                gestão adequada de resíduos, tratamento de efluentes, práticas agrícolas sustentáveis e
                                inovações tecnológicas são fundamentais nesse processo. É responsabilidade de todos nós
                                agir de forma consciente e adotar medidas sustentáveis para proteger os rios, garantindo
                                um futuro saudável e equilibrado para as gerações presentes e futuras.</p>
                        </div><!-- End Single Post Content -->

                    </div>
                    <div class="col-md-3">
                        <!-- ======= Sidebar ======= -->
                        <div class="aside-block">

                            <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-popular" type="button" role="tab"
                                        aria-controls="pills-popular" aria-selected="true">Popular</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-trending" type="button" role="tab"
                                        aria-controls="pills-trending" aria-selected="false">Recente</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-latest" type="button" role="tab"
                                        aria-controls="pills-latest" aria-selected="false">Campanha</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">

                                <!-- Popular -->
                                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                                    aria-labelledby="pills-popular-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Combatendo a poluição dos rios</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Pequenos gestos, grandes impactos sustentáveis</a>
                                        </h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Catavento: A energia renovável que impulsiona a
                                                sustentabilidade</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Extração descontrolada</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Preservando os Rinocerontes: Um Passo em Direção à
                                                Sustentabilidade Ambiental.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>
                                </div> <!-- Popular -->

                                <!-- Campanha -->
                                <div class="tab-pane fade" id="pills-latest" role="tabpanel"
                                    aria-labelledby="pills-latest-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Organização ambiental promove campanha de redução
                                                do consumo de plástico.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Campanha incentiva a adoção de práticas de
                                                agricultura regenerativa.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Campanha de conscientização sobre a importância da
                                                preservação das florestas amazônicas é lançada em nível
                                                internacional.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Campanha de conscientização alerta sobre a
                                                importância da preservação dos oceanos.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">ONG realiza campanha de reflorestamento em áreas
                                                degradadas.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                </div>




                                <!-- Recente -->
                                <div class="tab-pane fade" id="pills-trending" role="tabpanel"
                                    aria-labelledby="pills-trending-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Catavento: A energia renovável que impulsiona a
                                                sustentabilidade.</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Preservando os Rinocerontes: Um Passo em Direção à
                                                Sustentabilidade Ambiental.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Nova pesquisa revela a importância das florestas
                                                para o combate às mudanças climáticas.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Empresa de tecnologia lança campanha de reciclagem
                                                de eletrônicos usados.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Nova tecnologia promete aumentar a eficiência na
                                                utilização de recursos energéticos.</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>
                                </div> <!-- End Trending -->



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <footer class="footer1">
        <div class="logotipo">
            <img src="images/logo.png">
        </div>
        <div class="container">
            <div class="w33">
                <h2>Localização</h2>
                <p>
                    <img src="images/outline_room_white.png">
                    Rua Testes, 100
                </p>
                <p>
                    <img src="images/outline_room_white.png">
                    (12)3885-5555
                </p>
            </div>
            <div class="w33">
                <h2>Links Uteis</h2>
                <a href="ifspcaraguatatuba.edu.br">
                    IFSP - Caraguatatuba
                </a>
                <a href="www.google.com.br">
                    Google
                </a>
            </div>
            <div class="w32">
                <h2>Conecte-se conosco</h2>
                <div class="group-icons">
                    <a href="#">
                        <img src="images/outline_view_white.png">
                        facebook
                    </a>
                    <a href="#">
                        <img src="images/outline_school_white.png">
                        school
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <footer class="footer2">
        <div class="container">
            <p>
                &copy;
                Todos os direitos reservados</p>
        </div>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script>
        $('nav.menu-mobile h2').click(function () {
            $('nav.manu-mobile ul').slideToggle();
        })
    </script>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/stylesheets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/stylesheets/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/stylesheets/assets/vendor/aos/aos.js"></script>
    <script src="/stylesheets/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/stylesheets/assets/js/main.js"></script>

</body>

</html>