<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vida Sustentável</title>
    <meta name="keywords" content="vida sustentável, meio ambiente, água, ervas medicinais">
    <meta name="description"
        content="Aprenda sobre a conscientização em relação ao consumo de energia, água, alimentos e outros recursos naturais.">
    <meta name="author" content="Yasmin Aquino">
    <meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0">
    <meta charset="utf-8">
    <!-- comentário -->
    <link href="images/logoB-.png" rel="icon">
    <link href="images/logoB-.png" rel="apple-touch-icon">

    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/stylesheets/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/stylesheets/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/variables.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/main.css" rel="stylesheet">
</head>

<body>

    <header>
        <!-- menu -->
        <div class="container">
            <div class="logo">
                <!--<h2>Best Planes</h2>-->
                <img src="images/logoB.png">
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="doacoes.html">Doações</a></li>
                    <li><a href="sobre.html">Sobre nós</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    
                </ul>
            </nav>
        </div>

        <div class="menu-blog">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        </div>
        </div>
        <a href="index.html" class="logo d-flex align-items-center">
        </a>



        <a href="#" class="mx-2 js-search-open"></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->

        <button class="btn js-search-close"></button>
        </form>
        </div><!-- End Search Form -->

        </div>

    </header><!-- End Header -->

    <main id="main">

        <section class="single-post-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 post-content" data-aos="fade-up">

                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta"> <span class="mx-1">&bullet;</span> <span>Jul 5th
                                    '22</span></div>
                            <h1 class="mb-5">Combatendo a poluição dos rios</h1>
                            <p><span class="firstcharacter">N</span>osso planeta enfrenta desafios cada vez mais
                                urgentes quando se trata de sustentabilidade ambiental. Diante desse cenário, é crucial
                                que cada um de nós assuma a responsabilidade de agir de forma consciente e adotar
                                práticas que promovam um estilo de vida mais sustentável. Felizmente, pequenos gestos
                                podem ter grandes impactos na busca por um futuro mais sustentável.</p>
                            <p>Uma iniciativa inspiradora que vem ganhando destaque é a transformação de tampinhas em
                                sustentabilidade. Esses pequenos objetos, muitas vezes negligenciados e descartados de
                                forma irresponsável, podem ser convertidos em agentes de mudança positiva para o meio
                                ambiente. Ao recolher e reciclar tampinhas, é possível reduzir o acúmulo de lixo,
                                minimizar a utilização de recursos naturais e promover a economia circular.</p>
                            <p>A coleta de tampinhas é uma prática simples e acessível a todos. Muitas organizações e
                                comunidades têm implementado programas de recolhimento, incentivando as pessoas a
                                separarem as tampinhas e destiná-las a pontos de coleta específicos. Essas tampinhas são
                                posteriormente encaminhadas para empresas de reciclagem, onde são transformadas em novos
                                produtos ou matéria-prima para a fabricação de diferentes objetos.</p>
                            <p>Ao aderir a essa prática, além de contribuir para a preservação do meio ambiente, estamos
                                também fomentando a economia circular. A reciclagem das tampinhas cria um ciclo
                                sustentável em que o material descartado é reutilizado, evitando a extração de novos
                                recursos naturais. Além disso, a indústria de reciclagem gera empregos e impulsiona o
                                desenvolvimento sustentável, fortalecendo a economia local.</p>
                            <p>Os benefícios de transformar tampinhas em sustentabilidade vão além da redução do lixo e
                                da promoção da economia circular. Essa iniciativa também ajuda a conscientizar as
                                pessoas sobre a importância da reciclagem e do consumo responsável. Ao engajar-se nessa
                                prática, cada indivíduo passa a compreender a relevância de seus atos cotidianos e do
                                impacto que podem ter no meio ambiente.
                            </p>
                            <p>Além da coleta e reciclagem de tampinhas, é essencial que busquemos outras formas de
                                adotar um estilo de vida sustentável. Podemos reduzir o uso de plástico descartável,
                                optando por produtos duráveis e reutilizáveis. Podemos economizar água e energia,
                                adotando hábitos conscientes em nosso cotidiano. Podemos apoiar empresas e iniciativas
                                que priorizam a sustentabilidade em suas práticas e produção.</p>
                            <p>Pequenos gestos, como a coleta de tampinhas, podem gerar grandes impactos sustentáveis.
                                Cada tampinha recolhida é um passo em direção a um futuro mais limpo e equilibrado para
                                as próximas gerações. Ao unir nossos esforços e adotar práticas sustentáveis em nossas
                                vidas, estamos construindo um mundo melhor, onde a preservação do meio ambiente e o
                                desenvolvimento econômico andam de mãos dadas. A transformação de tampinhas em
                                sustentabilidade é apenas o começo de uma jornada rumo a um planeta mais saudável e
                                resiliente.</p>
                        </div><!-- End Single Post Content -->

                    </div>
                    <div class="col-md-3">
                        <!-- ======= Sidebar ======= -->
                        <div class="aside-block">

                            <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-popular" type="button" role="tab"
                                        aria-controls="pills-popular" aria-selected="true">Popular</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-trending" type="button" role="tab"
                                        aria-controls="pills-trending" aria-selected="false">Recente</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-latest" type="button" role="tab"
                                        aria-controls="pills-latest" aria-selected="false">Campanha</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">

                                <!-- Popular -->
                                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                                    aria-labelledby="pills-popular-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Combatendo a poluição dos rios</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Pequenos gestos, grandes impactos sustentáveis</a>
                                        </h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Catavento: A energia renovável que impulsiona a
                                                sustentabilidade</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Extração descontrolada</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Preservando os Rinocerontes: Um Passo em Direção à
                                                Sustentabilidade Ambiental.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>
                                </div> <!-- Popular -->

                                <!-- Campanha -->
                                <div class="tab-pane fade" id="pills-latest" role="tabpanel"
                                    aria-labelledby="pills-latest-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Organização ambiental promove campanha de redução
                                                do consumo de plástico.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Campanha incentiva a adoção de práticas de
                                                agricultura regenerativa.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Campanha de conscientização sobre a importância da
                                                preservação das florestas amazônicas é lançada em nível
                                                internacional.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Campanha de conscientização alerta sobre a
                                                importância da preservação dos oceanos.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">ONG realiza campanha de reflorestamento em áreas
                                                degradadas.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                </div>




                                <!-- Recente -->
                                <div class="tab-pane fade" id="pills-trending" role="tabpanel"
                                    aria-labelledby="pills-trending-tab">
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Catavento: A energia renovável que impulsiona a
                                                sustentabilidade.</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Preservando os Rinocerontes: Um Passo em Direção à
                                                Sustentabilidade Ambiental.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Protesto Sustentável: A Voz da Mudança em Defesa do
                                                Meio Ambiente.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Natureza</span> <span
                                                class="mx-1">&bullet;</span> <span>Jul
                                                5th '22</span></div>
                                        <h2 class="mb-2"><a href="#">Nova pesquisa revela a importância das florestas
                                                para o combate às mudanças climáticas.</a></h2>
                                        <span class="author mb-3 d-block">Ana Julia</span>
                                    </div>
                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Campanha</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Empresa de tecnologia lança campanha de reciclagem
                                                de eletrônicos usados.</a></h2>
                                        <span class="author mb-3 d-block">Yasmin</span>
                                    </div>

                                    <div class="post-entry-1 border-bottom">
                                        <div class="post-meta"><span class="date">Recursos Naturais</span> <span
                                                class="mx-1">&bullet;</span>
                                            <span>Jul 5th '22</span>
                                        </div>
                                        <h2 class="mb-2"><a href="#">Nova tecnologia promete aumentar a eficiência na
                                                utilização de recursos energéticos.</a></h2>
                                        <span class="author mb-3 d-block">Arthur</span>
                                    </div>
                                </div> <!-- End Trending -->



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <footer class="footer1">
        <div class="logotipo">
            <img src="images/logo.png">
        </div>
        <div class="container">
            <div class="w33">
                <h2>Localização</h2>
                <p>
                    <img src="images/outline_room_white.png">
                    Rua Testes, 100
                </p>
                <p>
                    <img src="images/outline_room_white.png">
                    (12)3885-5555
                </p>
            </div>
            <div class="w33">
                <h2>Links Uteis</h2>
                <a href="ifspcaraguatatuba.edu.br">
                    IFSP - Caraguatatuba
                </a>
                <a href="www.google.com.br">
                    Google
                </a>
            </div>
            <div class="w32">
                <h2>Conecte-se conosco</h2>
                <div class="group-icons">
                    <a href="#">
                        <img src="images/outline_view_white.png">
                        facebook
                    </a>
                    <a href="#">
                        <img src="images/outline_school_white.png">
                        school
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <footer class="footer2">
        <div class="container">
            <p>
                &copy;
                Todos os direitos reservados</p>
        </div>
    </footer>
    <script src="js/jquery-3.6.3.min.js"></script>
    <script>
        $('nav.menu-mobile h2').click(function () {
            $('nav.manu-mobile ul').slideToggle();
        })
    </script>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/stylesheets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/stylesheets/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/stylesheets/assets/vendor/aos/aos.js"></script>
    <script src="/stylesheets/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/stylesheets/assets/js/main.js"></script>

</body>

</html>